

body, html {
    height: 100%;
    background-image: url('../images/booking13.jpg');
    /*background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;

}



.booking-form
{
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 6px;
}



