<!DOCTYPE html >
<html layout:decorator="shared/homelayoutUser"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-index.css}" />
</th:block>

<th:block layout:fragment="content">

    <h3>Congratulation your Booking is Successful</h3>

    <fieldset>
        <legend>Passenger Information</legend>
    <div class="form-group">
        <p>First Name: <span th:text="${passenger.firstName}"></span>.</p>
    </div>
    <div class="form-group">
        <p>Last Name: <span th:text="${passenger.lastName}"></span>.</p>
    </div>
    <div class="form-group">
        <p>Passenger email: <span th:text="${passenger.userName}"></span>.</p>
    </div>
    </fieldset>


<!--    <fieldset>-->
<!--        <legend>Flight Information</legend>-->
<!--        <div class="form-group">-->
<!--            <p>Flight: <span th:text="${flight.getAirplane()}"></span>.</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Departure Airport: <span th:text="${flight.origin.airportCode} +'-'+ ${flight.origin.getAirportCity()}+'-'+ ${flight.origin.getAirportName()}"></span>.</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Departure Date: <span th:text="${flight.getDateOfFlight()}"></span>.</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Departure Time: <span th:text="${flight.getDepartureTime}"></span>.</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Destination Airport: <span th:text="${flight.destination.getAirportCode()}+'-'+${flight.destination.getAirportCity()}+ '-'+ ${flight.destination.getAirportName()}" ></span>.</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Arrival Date: <span th:text="${flight.getArrivalDate()}"></span>.</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p> Arrival Time: <span th:text="${flight.getArrivalTime()}"></span>.</p>-->
<!--        </div>-->
<!--        <div><a href="#" class="btn btn-outline-warning">Flight List</a>&nbsp;&nbsp;&nbsp;</div>-->
<!--    </fieldset>-->

</th:block>

<th:block layout:fragment="footer">
</th:block>

</body>
</html>
