<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>FlightBooking</title>

    <!-- Google font -->
    <!--    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/static/css/SearchPageStyle.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">

    <![endif]-->

</head>
<body>




<div >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

        <!--        <a class="navbar-brand" th:href="@{/flightbooking/home}">Home</a>-->
        <a th:href="@{/flightbooking/home}" class="btn btn-success btn-lg" type="button">&nbsp;&nbsp;Home&nbsp;&nbsp;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <!--                border-left: white 3px solid;-->

                <li class="nav-item" style=" padding-left: 4em; padding-right: 2em;">
                    <span style="color:yellow; padding-left: 2em; padding-right: 1em;">Search Booking</span>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">

                <a th:href="@{/flightbooking/signin}" class="btn btn-success btn-lg" type="button">My Bookings</a>

                <a th:href="@{/flightbooking/user/new}" class="btn btn-success btn-lg" type="button">Register !</a>

                <a th:href="@{/flightbooking/flight/list}" class="btn btn-success btn-lg" type="button">Admin Portal</a>
            </form>





        </div>
    </nav>

</div>







<div style="size: auto;padding: 10px;" >

    <br>
    <br>
    <div>
        <span style="font-size: 2em; color: #32a5e7;">Search For your Booking</span>
        <br>
        <br>

        <form action="/flightbooking/booking/search" th:object="${booking}" method="post" class="form-inline ml-auto"  >
            <input class="form-control mr-sm-2" name = "confirmationCode" type="text" placeholder="Confirmation Number" required>
            <!--                <input class="form-control" type="text" name="search" required placeholder="Book Title" aria-label="bookTitle">-->
            <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <button  class="btn btn-success btn-lg" type="submit">Search</button>
        </form>
    </div>




    <br>
    <br>





    <div style="font-size: 1em">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ConfirmationNumber</th>
                <th scope="col">Passenger</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Arrival Date</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${booking}">
                <td th:text="${booking.confirmationCode}"></td>
                <td th:text="'Mr/Ms ' + ${booking.user.lastName}"></td>
                <td th:text="${booking.departingFlight.departureDate}"></td>
                <td th:text="${booking.departingFlight.arrivalDate}"></td>
                <td th:text="${booking.departingFlight.departureTime}"></td>
                <td th:text="${booking.departingFlight.arrivalTime}"></td>
                <td th:text="${booking.departingFlight.origin.airportCity}"></td>
                <td th:text="${booking.departingFlight.destination.airportCity}"></td>
                <td>
                    <a  th:href="@{'/flightbooking/booking/delete/' + ${booking.bookingId}}">Delete</a>
                    <!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
                    <!--                            Launch demo modal-->
                    <!--                        </button>-->
                </td>
            </tr>
            </tbody>
        </table>




<!--        &lt;!&ndash; Pagination &ndash;&gt;-->
<!--        <div>-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link" href="#">Pages: </a>-->
<!--                </li>-->
<!--                <li th:each="i : ${#numbers.sequence(1, books.totalPages)}"-->
<!--                    th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">-->
<!--                    <a th:href="@{/elibrary/book/list(pageno=${i-1})}"-->
<!--                       th:text="${i}" class = "page-link"></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--    </div>-->














</div>
















































<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>