<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> Add Flight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }
        .form-grou{
            padding: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:8080/home">Home</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Exit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

            <a href="/flight/view-all-flight"> <button type="button" class="btn btn-primary btn-block btn-lg">View All flights</button></a><br/>
            <a href="/flight/add_new_flight"> <button type="button" class="btn btn-primary btn-block btn-lg">Add New flight</button></a>
            <br/> <div class="col-md-12">

            <a href="../">
                <img src="../images/logo.jpg" alt="airline Logo" style="width:80%">
                <div class="caption">
                    <h3>Go to home page</h3>
                </div>
            </a>

        </div>

        </div>
        <div class="col-sm-8 text-left">
            <h1>Form to add flight</h1>
            <hr>
            <form action="#" th:action="@{/flight/save}" th:object="${flights}" method="post" >

                <!-- hidden form input to keep id for staff to facilitate update -->

                <input type="hidden" th:field="*{flightNumber}"/>

                <table style="padding: 2%;width:100%" >

                    <tr>
                        <td>
                            <div class="form-group">
                               <span th:if="${#fields.hasErrors('flightNumber')}" th:errors="*{flightNumber}"
                                     class="alert alert-danger"></span>
                               Flight Number:  <br>
                                <input type="text" th:field="*{flightNumber}" id="flightNumber" class="form-control" required placeholder= "flight number">

                            </div>
                        </td><td>&HilbertSpace;</td>
                        <td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('airline')}" th:errors="*{airline}"
                                      class="alert alert-danger"></span>
                               Airline:  <br>
                                <input type="text" th:field="*{airline}" id="airline" class="form-control" required placeholder="airline" >
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"
                                      class="alert alert-danger"></span>
                                Origin of flight:  <br>
                                <input type="text" th:field="*{origin}" id="origin" class="form-control" required placeholder="origin of flight" >
                            </div>
                        </td><td>&HilbertSpace;</td>
                        <td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('airline')}" th:errors="*{airline}"
                                      class="alert alert-danger"></span>
                                Type of airplane:  <br>
                                <input type="text" th:field="*{airplane}" id="airplane" class="form-control" required placeholder="airplane" >
                            </div>
                        </td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"
                                      class="alert alert-danger"></span>
                                Destination:  <br>
                                <input type="text" th:field="*{destination}" id="destination" class="form-control" required placeholder="destination of flight" >
                            </div>
<!--                            <div class="form-group">-->
<!--                                <span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"-->
<!--                                      class="alert alert-danger"></span>-->
<!--                                Type of airplane:  <br>-->
<!--                                <input type="text" th:field="*{airplane}" id="airplane" class="form-control" required placeholder="airplane type" >-->
<!--                            </div>-->
                        </td>
                        <td>&HilbertSpace;</td><td>
                        <div class="form-group">
                          Date of flight:  <br>
                            <input type="text" th:field="*{dateOfFlight}" class="form-control" placeholder= "Date of flight">
                        </div>
                    </td><td>&HilbertSpace;</td>
                    </td>
                        <div class="form-group">
                          Arrival Time:  <br>
                            <input type="text" th:field="*{arrivalTime}" class="form-control" placeholder= "Arrival time">
                        </div>

                    </td>
                        <div class="form-group">
                         Departure Time:  <br>
                            <input type="text" th:field="*{departureTime}" class="form-control" placeholder= "Departure time">
                        </div>
                    </td>
                        <td>
                            <div class="form-group">
                                <button type="submit" value="Submit" class="btn btn-primary" >Submit</button>
                                <button type="reset" value="Reset" class="btn btn-primary" >Reset</button>
                            </div>
                        </td>
                    </tr>
                </table>



            </form>
        </h4>

<!--        <div class="col-sm-2 sidenav">-->
<!--            <div class="well">-->
<!--                <p></p>-->
<!--            </div>-->
<!--            <div class="well">-->
<!--                <p></p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Team Ethiopia e booking system</p>
</footer>

</body>
</html>
