<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>FlightBooking</title>

    <!-- Google font -->
    <!--    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/SearchResultPageStyle.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">

    <![endif]-->

</head>
<body>




<div >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

        <!--        <a class="navbar-brand" th:href="@{/flightbooking/home}">Home</a>-->
        <a th:href="@{/flightbooking/home}" class="btn btn-success btn-lg" type="button">&nbsp;&nbsp;Home&nbsp;&nbsp;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <!--                border-left: white 3px solid;-->

                <li class="nav-item" style=" padding-left: 4em; padding-right: 2em;">
                    <span style="color:yellow; padding-left: 2em; padding-right: 1em;">Search Results...</span>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">

                <a th:href="@{/flightbooking/signin}" class="btn btn-success btn-lg" type="button">My Bookings</a>

                <a th:href="@{/flightbooking/signup}" class="btn btn-success btn-lg" type="button">Register !</a>

                <a th:href="@{/flightbooking/flight/list}" class="btn btn-success btn-lg" type="button">Admin Portal</a>
            </form>





        </div>
    </nav>

</div>






<!--class="container"-->
<div style="size: auto;padding-top: 5px;padding-left: 20px;padding-right: 20px;"  >

<!--    <div class="search_result_list">-->

        <div>
            <span style="font-size: 1.5em">Search Results</span>
        </div>
        <p>&nbsp;</p>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Airline</th>
                <th scope="col">Flight Number</th>
                <th scope="col">origin</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">destination</th>
                <th scope="col">Departing</th>
                <th scope="col">Arriving</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <!-- Alternative non-obstrusive js solution for <tr onclick>:
                HTML markup: <tr data-href="some-url">
                JS function using JQuery: $('tr[data-href]').on("click", function() {
                                            document.location = $(this).data('href');
                                        });
             -->
            <!--<tr class="datarow" th:each="product,iterStat : ${products}" th:onclick="@{document.location='/prodmgmt/products/edit/{productId}'(productId=${product.productId})}">-->

            <tr class="datarow"  bgcolor="#D87272" th:each="flight,iterStat : ${flights}">
                <th style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" scope="row" th:text="${iterStat.count}+'.'"></th>
                <td style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" th:text="${flight.airline.airlineName}"></td>
                <td style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" th:text="${flight.flightNumber}"></td>
                <td style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" th:text="${flight.origin.airportCity}"></td>
                <td style="vertical-align: middle;color:darkred;font-size: large;font-weight: bolder"  height="100px" >----></td>
                <td style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" th:text="${flight.destination.airportCity}"></td>
                <td style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" th:utext="${flight.departureDate} + ' ' +  '</br>' + ${flight.departureTime}"></td>
                <td style="vertical-align: middle;color: black;font-size: large;font-weight: bolder"  height="100px" th:utext="${flight.arrivalDate} + ' ' + '</br>' + ${flight.arrivalTime}"></td>
                <td style="vertical-align: middle;color:black;font-size: large;font-weight: bolder"  height="100px" ><a  style="padding: 30px" class="btn btn-primary btn-lg" href="/flightbooking/booking/new">Select Flight</a></td>
            </tr>

            <div th:unless="${not #lists.isEmpty(flights.content)}">

                <tr style="background: rgba(0, 0, 0, 0.3);">
                    <td th:colspan="4" th:rowspan="3" style="padding-top:2em;padding-bottom:1em;color: white;font-weight: bold;font-size: xx-large;" th:text="'No Flights Found'"></td>
                    <td th:colspan="1" th:rowspan="3"><a  style="padding: 45px" class="btn btn-primary btn-lg" href="/flightbooking/home">Search Again</a></td>
                </tr>

            </div>



            </tbody>


        </table>



<!--        &lt;!&ndash; Pagination &ndash;&gt;-->
<!--        <div>-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link" href="#">Pages: </a>-->
<!--                </li>-->
<!--                <li th:each="i : ${#numbers.sequence(1, flights.totalPages)}"-->
<!--                    th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">-->
<!--                    <a  th:href="@{/flightbooking/flight/search(pageNo=${i-1})}"-->
<!--                       th:text="${i}" class = "page-link"></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->






<!--    </div>-->






















</div>





















<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>