<!DOCTYPE html>
<html layout:decorator="shared/homelayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-index.css}" />
    <title>Flight Information Management - Edit Flight</title>
</head>
<body>
    <th:block layout:fragment="header">
        <link rel="stylesheet" type="text/css" th:href="@{/css/homelayout.css}" />
    </th:block>
    <th:block layout:fragment="content">
        <!--<form id="stuRegForm" method="post" action="/flight/{id}" th:object="${flight}">-->
        <!--<form method="post" action="/flight" th:object="${flight}">-->
        <form action="/flight" method="post" >
            <fieldset>
                <legend>Edit Flight Form</legend>
                <input type="hidden" name="Id" th:value="${flight.id}" />

                <div class="form-group" >
                    <!--<div class="form-group" style="display:flex; flex-direction: row" >-->
                    <label for="flightnr">Flight Number</label>
                    <span th:if="${#fields.hasErrors('flight.flightnr')}" th:errors="*{flight.flightnr}"
                          class="alert alert-danger"></span>
                    <input id="flightnr" name="flightnr" type="text" class="form-control" th:value="${flight.flightnr}">
                </div>
                <div class="form-group" style="float:none;">
                    <label for="departureDate">Departure Date</label>
                    <span th:if="${#fields.hasErrors('flight.departureDate')}" th:errors="*{flight.departureDate}"
                          class="alert alert-danger"></span>
                    <input id="departureDate" name="departureDate" type="date" class="form-control" placeholder="yyyy/mm/dd" th:value="${{flight.departureDate}}">
                </div>
                <div class="form-group">
                    <label for="departureTime">Departure Time</label>
                    <span th:if="${#fields.hasErrors('flight.departureTime')}" th:errors="*{flight.departureTime}"
                          class="alert alert-danger"></span>
                    <input id="departureTime" name="departureTime" type="time" class="form-control" placeholder="hh:mm" th:value="${flight.departureTime}">
                </div>
                <div class="form-group">
                    <label for="arrivalDate">Arrival Date</label>
                    <span th:if="${#fields.hasErrors('flight.arrivalDate')}" th:errors="*{flight.arrivalDate}"
                          class="alert alert-danger"></span>
                    <input id="arrivalDate" name="arrivalDate" type="date" class="form-control" placeholder="yyyy/mm/dd" th:value="${flight.arrivalDate}">
                </div>
                <div class="form-group">
                    <label for="arrivalTime">Arrival Time</label>
                    <span th:if="${#fields.hasErrors('flight.arrivalTime')}" th:errors="*{flight.arrivalTime}"
                          class="alert alert-danger"></span>
                    <input id="arrivalTime" name="arrivalTime" type="time" class="form-control" placeholder="hh:mm" th:value="${flight.arrivalTime}">
                </div>

                <!--<div class="form-group" th:object="${airlines}">-->
                <div class="form-group">
                    <!--<label class="control-label col-sm-2" for="airline">Airline</label>-->
                    <label for="airline">Airline</label>
                    <!--<select class="form-control" id="airline" th:name="${flight.airline}" >-->
                    <select class="form-control" th:field="${flight.airline.id}" >
                        <option th:each="airline : ${airlines}"
                                th:value="${airline.id}"
                                th:text="${airline.airlineName}"
                                th:selected="${flight.airline.id == airline.id}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="airplane">Airplane</label>
                    <select class="form-control" th:field="${flight.airplane.id}" >
                        <option th:each="airplane : ${airplanes}"
                                th:value="${airplane.id}"
                                th:text="${airplane.serialNumber} + ' - ' + ${airplane.model}"
                                th:selected="${flight.airplane.id == airplane.id}" >
                        </option>
                    </select>
                </div>

                <div class="form-group" >
                    <label for="origin">Departure</label>
                    <!--<select class="form-control" th:field="${flight.origin.id}" >-->
                    <select class="form-control" th:field="${flight.origin.id}">
                        <option th:each="airport : ${airports}"
                                th:value="${airport.id}"
                                th:text="${airport.airportCode} + ' - ' + ${airport.airportName} + ' - ' + ${airport.city} + ' - ' + ${airport.country}"
                                th:selected="${flight.origin.id == airport.id}">
                        </option>
                    </select>
                </div>

                <div class="form-group" >
                    <label for="destination">Destination</label>
                    <select class="form-control" th:field="${flight.destination.id}" >
                    <!--<select class="form-control"  >-->
                        <option th:each="airport : ${airports}"
                                th:value="${airport.id}"
                                th:text="${airport.airportCode} + ' - ' + ${airport.airportName} + ' - ' + ${airport.city} + ' - ' + ${airport.country}"
                                th:selected="${flight.destination.id == airport.id}">
                        </option>
                    </select>
                </div>

                <div style="float:right;">
                    <a href="/admin" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnEdit" type="submit" name="edit" class="btn btn-outline-success">Update</button>
                </div>
            </fieldset>
        </form>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>
</html>